<!DOCTYPE html>
<html>
  <head>
    <title><% provide :title, "Help" %></title>
  </head>
  <body>
  </br>
  <%= link_to t(".english"), locale: :en %>
  <%= link_to t(".vietnamese"), locale: :vi %>
  <h1><%= t ".title_sub" %></h1>
  <p>
    <%= t ".describe_html" %>
  </p>
</body>
</html>
