<!DOCTYPE html>
<html>
  <% provide :title, t(".home") %>
  <body>
  </br>
  <%= link_to t(".english"), locale: :en %>
  <%= link_to t(".vietnamese"), locale: :vi %>
  <h1><%= t ".sample_app" %></h1>
  <p>
    <%= t ".describe_html" %>
  </p>
</body>
</html>
